<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Portfolio</title>
</head>

<body>
    <header>
        <h1>My Portfolio</h1>
        <nav>
            <ul>
                <li>
                    <a href="#contact-me">Contact-me
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <section id="about-me">
            <h2>About Me</h2>
            <img src="/assets/profile photo.jpg" alt="My picture">
            <p>Hi there! My name is Wunjah Alvine and i'm a computer engineering student with a passion for front-end
                development and graphic designing. I've always been fascinated by how technology works and how it can be
                used to create beautiful and functional designs.
                My journey into the world of programming began when I was in high school. I started learning HTML and
                CSS and was amazed by how i could bring my ideas to life with just a few lines of code. Since then, I've
                been constantly learning and improving my skills in web development and graphic design.
                As a computer engineering student, I am learning about the fundamentals of computer science and software
                development. I am also taking courses in web development, which has allowed me gain a deeper
                understanding of how websites are built and how to optimize them for performance and user experience.
                Aside from my studies, I enjoy working on personal projects that allow me to explore my creativity and
                challenge myself. I love designing websites and creating unique user interfaces that are both visually
                appealing and intuitive to use. I also enjoy creating graphics and illustrations using tools like Adobe
                Photoshop and Illustrator.
                In my free time, I enjoy reading books on design and technology, watching tutorials on YouTube and
                attending tech conferences to learn from industry experts.
                I'm always looking for new opportunities to learn and grow as a developer and designer.
                Thanks for taking the time to get to know me! I'm excited to see where my passion for technology and
                design takes me in the future.
            </p>
        </section>
        <section id="portfolio">
            <h2>
                Portfolio
            </h2>
            <ul>
                <li>
                    <img src="/assets/angular in progress (2).PNG" alt="project1">
                    <h3>Project 1</h3>
                    <p>It is a simple navigation page i made for e shopping </p>
                </li>
                <li>
                    <img src="/assets/animation-login.PNG" alt="project2">
                    <h3>project 2</h3>
                    <p>An animation login page I made for a client</p>
                </li>
                <li>
                    <img src="/assets/flyer.jpg" alt="project3">
                    <h3>project 3</h3>
                    <p>A flyer I made for a client</p>
                </li>

            </ul>

        </section>
        <section id="contact">
            <h2>Contact Me</h2>
            <form>
                <label for="name">Name:</label>
                <input type="text" id="name" name="name">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email">
                <label for="message">Message:</label>
                <textarea id="message" name="message"></textarea>
                <input type="submit" value="Send">
            </form>
        </section>
    </main>
    <footer>
        <p>&copy; [Wunjah Alvine] [2023]</p>
    </footer>
</body>

</html>